{% extends 'main.html' %} {% block content %}
<div class="container">
  <h1 class="heading">Completed Tasks</h1>
  <div class="topactions">
    <a href="{% url 'trestoreall' %}" class="topbtn"> ✓ Restore All </a>

    <a href="{% url 'tdeleteall' %}" class="topbtn"> 🗑 Delete All </a>
  </div>
  <table class="tasktable">
    <thead>
      <tr>
        <th class="titlecol">Title</th>
        <th class="desccol">Description</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for task in data %}
      <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>
          <div class="actioncol">
            <a href="{% url 'crestore' task.id %}" class="editbtn"> Restore </a>

            <a href="{% url 'cdelete' task.id %}" class="deletebtn"> Delete </a>
          </div>
        </td>
      </tr>

      {% empty %}
      <tr>
        <td colspan="3">No Completed Tasks Available</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
