{% extends 'main.html' %} {% block content %}
<div class="container">
  <h1 class="heading">Trash</h1>

  <table class="tasktable">
    <thead>
      <tr>
        <th class="titlecol">Title</th>
        <th class="desccol">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for task in data %}
      <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
      </tr>

      {% empty %}
      <tr>
        <td colspan="4">No Tasks Available in Trash</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
