{% extends 'main.html' %} {% block content %}

<div class="formcontainer">
  <h2 class="formtitle">Update Task</h2>

  <form method="POST">
    {% csrf_token %}

    <div class="formgroup">
      <label>Title</label>
      <input type="text" name="title" value="{{ data.title }}" />
    </div>

    <div class="formgroup">
      <label>Description</label>
      <textarea name="description">{{ data.description }}</textarea>
    </div>

    <button type="submit" class="btn">Update Task</button>
  </form>
</div>

{% endblock %}
